<template>
    <section class="hero is-dark is-medium mb-5">
        <div class="hero-head">
            <TheNavbar></TheNavbar>
        </div>
        
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
        <p class="title">
            Turkish Verbs Scraper
        </p>
        <p class="subtitle">
            Greek version
        </p>
        </div>
    </div>

    <!-- Hero footer: will stick at the bottom
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth is-large">
        <div class="container">
            <ul>
            <li class="is-active">
                <a>Goals</a>
            </li>
            <li>
                <a>How to use</a>
            </li>
            </ul>
        </div>
        </nav>
    </div> -->
    </section>
</template>

<script>
    import TheNavbar from './partials/TheNavbar.vue';

export default {
    components: {
        TheNavbar
    }
}
</script>