<template>
        <h1 class="title has-text-centered">Verbs list</h1>
        <div class="level">
			<div class="level-item has-text-centered">
				<table class="table">
					<thead>
						<tr>
							<th>Verb</th>
							<th>Translation</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(greek, turkish) in selectedVerbs" :key="greek.id">
							<td>
								{{ turkish }}
							</td>
							<td>
								{{ greek }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
        <div class="level">
			<div class="level-item has-text-centered">
				<button class="button is-primary is-large ml-2 mr-2" :class="isLoading ? 'is-loading' : ''" @click="scrapData">Scrap data</button>
				<button class="button is-info is-large" :class="verbs.length <= 0 ? 'is-static' : ''" @click="generateRandomData">Select 10 random verbs</button>
			</div>
		</div>

		<!-- <div class="level">
			<div class="level-item has-text-centered">
				No data yet. Press "Scrap data" to find some verbs!
			</div>
		</div> -->
</template>

<script>
import { computed, ref } from 'vue';
import { useStore } from 'vuex';

export default {
    setup(){
		const store = useStore();
		const isLoading = ref(false);

		let verbs = computed(function() {
			return store.getters['verbs/verbs'];	
		});

		let selectedVerbs = computed(function() {
			return store.getters['verbs/selectedVerbs'];	
		});

		// Click events
		async function scrapData() {
			isLoading.value = true;
			await store.dispatch('verbs/scrapData');
			isLoading.value = false;
		}

		function generateRandomData() {
			store.dispatch('verbs/generateRandomWords', { words: 10 });
		}


		return {
			selectedVerbs,
			verbs,
			scrapData,
			isLoading,
			generateRandomData
		}
    }
    
}
</script>