<template>
	<TheHeader></TheHeader>
		<VerbsList></VerbsList>

	<div class="container mb-5">
		<div class="columns">
			<div class="column has-text-centered">
				<div class="notification is-success">
					<h1 class="title">Goals</h1>
					<p>My personal goal was to learn more about a topic that I was curious to find out how it works: <strong>Web scrap</strong>. Furthermore, I wanted to improve my skills in JavaScript and Vue.js (3rd edition) combined with official packages and APIs such as the <strong>Composition API</strong> and <strong>VUEX</strong>.
Additionally, I wanted to create an application that would help me with my university courses as well. An idea came up when I wanted to expand my vocabulary on the turkish language which I took in my university. </p>
					
				</div>
			</div>
			<div class="column has-text-centered">
				<div class="notification is-info">
					<h1 class="title">How to use</h1>
					<p>First of all, we need to scrap data from the internet and load them in this page. Then we need will be able to select random verbs</p>
					<ol>
						<li>In order to fetch data, press the button <strong>scrap data</strong>.</li>
						<li>Once data are scrapped, you will see that the button <strong>Select 10 random verbs</strong> is now available. Press
						the button to get 10 random words from the system.</li>
					</ol>
					<p>You are able to select 10 random verbs for as many times as you like</p>
				</div>
			</div>
		</div>
	</div>
	<TheFooter></TheFooter>
</template>

<script>
import TheHeader from './components/layout/TheHeader.vue';
import TheFooter from './components/layout/TheFooter.vue';
import VerbsList from './components/VerbsList.vue';

export default {
	name: 'App',
	components: {
		TheHeader,
		TheFooter,
		VerbsList
	}
}
</script>

<style>

</style>
