<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
	<a class="navbar-item">
		<img src="../../../assets/Dictionary-icon.png" width="96">
	</a>

	<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
		<span aria-hidden="true"></span>
	</a>
	</div>

	<div id="navbarBasicExample" class="navbar-menu">
	<div class="navbar-start">
		<a class="navbar-item" target="_blank" href="https://gitlab.com/mikhailkonstan/turkish-verbs-web-scrapper-vue-puppeteer">
			Readme
		</a>
	</div>

	<div class="navbar-end">
		<div class="navbar-item">
		<div class="buttons">
			<a class="button is-light" target="_blank" href="https://gitlab.com/mikhailkonstan/turkish-verbs-web-scrapper-vue-puppeteer">
			GitLab repository
			</a>
		</div>
		</div>
	</div>
	</div>
</nav>
</template>

<style scoped>
.navbar-item img{
	max-height: 6em;
}
</style>